* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
section {
    height: 100vh;
    overflow: hidden;
    background: #000;

}
p {
    position: relative;
    font-size: 1em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(images/face.png),url(images/face.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: color-dodge;
    -webkit-background-clip: text;
    color: transparent;

}